<div [formGroup]="form" class="course-details-form">

  <!--Input-->
  <mat-form-field>
    <!--matInput: estilitza l'input amb Material.-->
    <input matInput placeholder="Course title" formControlName="title" #title>

    <!--Mostra en temps real la longitud del text escrit-->
    <mat-hint align="end">
      {{title.value.length}} / 60
    </mat-hint>

    <mat-error *ngIf="courseTitle.errors?.minlength">
      A minimum length of 5 characters is required.
    </mat-error>
  </mat-form-field>


</div>
