<div [formGroup]="form" class="course-details-form">

  <!--Input-->
  <mat-form-field>
    <!--matInput: estilitza l'input amb Material.-->
    <input matInput placeholder="Course title" formControlName="title" #title>

    <!--Mostra en temps real la longitud del text escrit-->
    <mat-hint align="end">
      {{title.value.length}} / 60
    </mat-hint>

    <mat-error *ngIf="courseTitle.errors?.minlength">
      A minimum length of 5 characters is required.
    </mat-error>
  </mat-form-field>


  <!--Radio button-->
  <mat-radio-group class="course-type" formControlName="courseType">
    <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>


  <!--Select box-->
  <mat-form-field>
    <mat-select formControlName="category" placeholder="Select category"> <!--multiple per seleccionar + d'una opcio-->
      <mat-option>None</mat-option>

      <!--agrupa visualment opcions sota el títol Beginners.-->
      <mat-optgroup label="Beginners">
        <mat-option value="newprogramming">New To Programming</mat-option>
        <mat-option value="newjavascript">New To Javascript</mat-option>
        <mat-option value="newangular">New To Angular</mat-option>
      </mat-optgroup>

      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>
  </mat-form-field>


  <!--Data Picker-->
  <!--Fa que el camp tingui un marc visible al voltant del camp d'entrada-->
  <mat-form-field appearance="outline">
    <input matInput formControlName="releasedAt" placeholder="Release date" [matDatepicker]="releasedAtPicker">
    <!--associa aquest input a un mat-datepicker-->

    <!--Mostra la icona de calendari al final del camp d'entrada.-->
    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
    </mat-datepicker-toggle>

    <!--Defineix el component emergent del selector de dates.-->
    <mat-datepicker #releasedAtPicker [dateClass]="dateClass"> <!--funció del ts-->
    </mat-datepicker>
  </mat-form-field>


  <!--Checkbox-->
  <!--indeterminate = fa que la casella aparegui en un estat intermedi (ni marcada ni desmarcada visualment). només visual-->
  <mat-checkbox color="primary" formControlName="downloadsAllowed" [indeterminate]="true">
    Downloads allowed?
  </mat-checkbox>
</div>
