<div [formGroup]="form">
  <!--Crea un camp de formulari amb estil de Material Design.-->
  <mat-form-field>
    <!--matInput aplica l'estil Material.-->
    <input matInput placeholder="Course title" formControlName="title" #title>
    <!--Mostra un contador de caràcters en temps real.-->
    <mat-hint align="end">
      {{ title.value.length }} / 60
    </mat-hint>

    <mat-error>
      @if (courseTitle.errors?.titleExists) {
        This title is already being used.
      }
    </mat-error>
  </mat-form-field>
</div>
