<div [formGroup]="form">

  <!--agrupa els botons de selecció (mat-radio-button), assegurant que només es pot seleccionar una opció dins del grup.-->
  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <!--Numeros-->
  <mat-form-field>
    <input type="number" matInput placeholder="Price" formControlName="price">
  </mat-form-field>
</div>


<div class="form-val">

  {{form.value | json}}

</div>
