
<div class="courses-panel">

  <div class="header">

    <h2 class="title">All Courses</h2>

    <!--matTooltip: el text del tooltip.
    matTooltipPosition: col·loca el tooltip a sobre del botó.
    [matTooltipShowDelay: triga 1000ms (1 segon) a mostrar-se.
    hide per ocultar en 2s-->
    <button mat-mini-fab routerLink="/add-new-course"
            matTooltip="Create a course" matTooltipPosition="above"
            [matTooltipShowDelay]="1000"
            [matTooltipHideDelay]="2000"
            [matTooltipDisabled]="true"> <!--desactiva el tooltip-->
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>

  </div>`

  <!--contingut en pestanyes (tabs)-->
  <mat-tab-group>
    <mat-tab label="Beginners">
      <!--El component courses-card-list rep l'Observable beginnerCourses$,
      que es transforma amb l'async pipe per obtenir-ne el valor real.-->
      <courses-card-list [courses]="beginnerCourses$ | async">
      </courses-card-list>
    </mat-tab>
    <mat-tab label="Advanced">
      <courses-card-list [courses]="advancedCourses$ | async">
      </courses-card-list>
    </mat-tab>
  </mat-tab-group>


</div>

