<!--*ngIf="course", li estàs dient a Angular que només renderitzi aquest element si course té un valor-->
<!--El component està completament carregat i les dades estan disponibles abans d'intentar aplicar ngClass o qualsevol altra directiva o vinculació.
perque no doni error.-->

<!--ngStyle per aplicar estils-->
<div class="course-class" *ngIf="course" [ngClass]="cardClasses()" [ngStyle]="cardStyles()">

  <div class="course-title">
    <h1>{{ index }} {{ course.description }}</h1>
    <!--data binding d'Angular: mostra el valor que té la propietat description del model course.-->
  </div>

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <button (click)="onCourseViewed()">View Course</button> <!--Event click, la funció esta a course-card.components.ts-->
</div>
