<div class="course-card">

  <div class="course-title">
    {{ index }} {{ course.description }}
    <!--data binding d'Angular: mostra el valor que té la propietat description del model course.-->
  </div>

  <!--Funciona com un if/else normal-->
  @if (course.id == 1) {
    <h2>Course with ID 1 detected!</h2>
  }
  @else if (course.iconUrl) {
    <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    <!--property binding: per posar la imatge segons l'URL de la propietat iconUrl del model course.-->
  }
  @else {
    <h2>No image available!</h2>
  }

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <button (click)="onCourseViewed()">View Course</button> <!--Event click, la funció esta a course-card.components.ts-->
</div>
