<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">
  <!--(event) → Output, del fill cap al pare   [propietat] → Input, del pare cap al fill-->
  <!--Per cada curs dins courses, mostra un course-card i usa l'id com a identificador únic-->
  @for (course of courses; track course.id;
    let index = $index; let count = $count;
    let first = $first; let last = $last;
    let even = $even; let odd = $odd) {
    <!--
    Índex de l'element (0, 1, 2, ...), s'ha de fer input al ts del component
    Count = Nombre total d'elements a la llista
    First i Last: true si és el primer element o últim element (per aplicar estils per exemple)
    Even i Odd: true si l'índex és parell o senar (per aplicar estils per exemple)
    -->

    <course-card
    [course]="course"
    [index]="index"
    [class.is-first]="first"
    [class.is-last]="last"
    [class.is-even]="even"
    [class.is-odd]="odd"
    (courseSelected)="onCourseSelected($event)"  />

  }

  <!--Si la llista és buida-->
  @empty {
    <h1>No courses found!</h1>
  }
</div>


