<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!--Les variables estan a app.component.ts-->
<div class="demo">
  <!--Transforma un objecte Date a un format de data llegible.-->
  <div>Start Date: {{startDate | date: 'MMM dd yyyy'}}</div>

  <div> {{title | uppercase}}</div>

  <!--3 dígits mínims a l'esquerra del punt decimal i entre 3 i 5 dígits a la dreta del punt decimal-->
  <div> {{price | number: '3.3-5'}}</div>

  <div> {{rate | percent}}</div>
</div>

<div class="courses">

  <!--slice: Tallar un array-->
  @for (course of courses | slice:0:2; track course.id;
    let index = $index;) {

    <course-card
    [course]="course"
    [index]="index"
    (courseSelected)="onCourseSelected($event)"  />
  }

  <!--Si la llista és buida-->
  @empty {
    <h1>No courses found!</h1>
  }
</div>


{{ courses | json }}
