<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">

  <!--Per cada curs dins courses, mostra un course-card i usa l'id com a identificador únic-->
  @for (course of courses; track course.id) {
    <course-card (courseSelected)="onCourseSelected($event)" [course]="course" />
  }

  <!--(event) → Output, del fill cap al pare   [propietat] → Input, del pare cap al fill-->

</div>


