<div class="course">

  <h2>{{course?.description}}</h2>

  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl">

  <!--carregador circular de Angular Material mentre la variable loading és true.-->
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <!--multitemp... per poder expandir files-->
  <table mat-table class="lessons-table mat-elevation-z8" matSort matSortDisableClear matSortActive="seqNo"
    matSortDirection="asc" [dataSource]="lessons" multiTemplateDataRows>
    <!--la llista de dades que s'utilitza per omplir la taula.-->

    <!--defineix cada columna per separat.-->
    <ng-container matColumnDef="seqNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let lesson">{{lesson.seqNo}}</td>
    </ng-container>

    <!--mat-header-cell i mat-cell: defineixen les cel·les d'encapçalament i de contingut.-->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let lesson">{{lesson.description}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td class="duration-cell" mat-cell *matCellDef="let lesson">{{lesson.duration}}</td>
    </ng-container>

    <!--Defineix una columna especial per expandir-->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let lesson" colspan="4">
        {{lesson.longDescription}}
      </td>
    </ng-container>

    <!--*matHeaderRowDef indica quines columnes mostrar a l'encapçalament.-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!--indica les files del contingut.-->
    <tr mat-row *matRowDef="let lesson;columns:displayedColumns"
        (click)="onToggleLesson(lesson)"></tr> <!--Si fas clic a la fila, s'executa onToggleLesson(lesson)-->

    <!--Aquesta fila sempre es mostra per cada lliçó, però el contingut només és visible si lesson === expandedLesson.-->
    <tr mat-row *matRowDef="let lesson;columns:['expandedDetail']"
        [class.collapsed-detail]="lesson != expandedLesson">
    </tr>

  </table>

  <!--page size = nombre d'elements per pàgina per defecte.-->
  <!--opcions que l'usuari pot triar.-->
  <mat-paginator class="mat-elevation-z8" [length]="course?.lessonsCount" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]">
  </mat-paginator>
</div>
